{% extends 'base.html.twig' %}

{% block body %}
    <h1>Discussion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discussion.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ discussion.nom }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{% if discussion.datedebut %}{{ discussion.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ discussion.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('discussion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('discussion_edit', { 'id': discussion.id }) }}">Edit</a>
        </li>
        {% if is_granted('ROLE_MANAGER') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
