
    <ul id="menu-demo2">
        {% if is_granted('ROLE_ADMIN') %}
            <li style="color: red;">Admin</li>
        {% endif %}
        <li><a href="{{ path('index') }}">Accueil</a>
            {% if is_granted('ROLE_USER') %}
        <li><a href="#">Forum</a>
            <ul>
                <li><a href="{{ path('discussion_index') }}">Discussions</a></li>
                <li><a href="{{ path('charge_index') }}">Charges</a></li>
            </ul>
        </li>
        <li><a href="{{ path('projet_index') }}">Projets</a></li>
        <li><a href="#">Bienvenue {{ app.user.username }}</a>
            <ul>
                <li><a href="{{ path('fos_user_profile_show') }}">Show profile</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            </ul>
        </li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Login</a>
                <ul>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>