{% extends 'base.html.twig' %}

{% block body %}
    <h1>Charges list</h1>

    <table class="table_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date_echeance</th>
                <th>Montant</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
            <tr>
                <td><a href="{{ path('charge_show', { 'id': charge.id }) }}">{{ charge.id }}</a></td>
                <td>{{ charge.titre }}</td>
                <td>{% if charge.dateecheance %}{{ charge.dateecheance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ charge.montant }}</td>
                <td>{{ charge.statut }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('charge_show', { 'id': charge.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_MANAGER') %}
    <ul>
        <li>
            <a href="{{ path('charge_new') }}">Create a new charge</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
